<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>カードが作成されました - ツイカード ID: {{ id }} -</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" type="text/css" href="/static/css/layouts/marketing.css">
            <link rel="stylesheet" type="text/css" href="/static/css/twitter-card.css">
            <!-- <link rel="stylesheet" type="text/css" href="https://purecss.io/combo/1.18.13?/css/layouts/marketing.css"> -->
        <!--<![endif]-->
    <meta charset="utf-8"/>
    <meta name="twitter:card" content="{{card_type}}" /> 
    <meta property="og:url" content="{{url}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://twi-card.herokuapp.com/thumb/{{ id }}" />
    {% if refresh != "false" %}
        <meta http-equiv="refresh" content="0;URL={{url}}">
    {% endif %}
    <!-- <meta property="og:image" content="/thumb/{{id}}" /> -->
</head>
<body>









<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">ツイカード</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/#about" class="pure-menu-link">About</a></li>
            <!-- <li class="pure-menu-item"><a href="#content" class="pure-menu-link"><button class="button-xsmall pure-button">カードを作成</button></a></li> -->
            <li class="pure-menu-item"><a href="/#content" class="pure-menu-link">カードを作成</a></li>
        </ul>
    </div>
</div>



<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head" style="font-size: 280%">カードが作成されました！</h1>

        <form class="pure-form">
            <input id="url", type="text" value="https://twi-card.herokuapp.com{{ url_for('get_card', id=id )}}")>
        </form>
    </div>
</div>




<div class="footer l-box is-center">
    ツイカード 〜Twitter カードを自動で作成〜
</div>
</body>
</html>
