<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="twitter:card" content="summary" /> /*①*/
        <meta name="twitter:site" content="@zenofhell" /> /*②*/
        <meta property="og:url" content="{{url}}" /> /*③*/
        <meta property="og:title" content="{{title}}" /> /*④*/
        <meta property="og:description" content="{{description}}" /> /*⑤*/
        <meta property="og:image" content="img/{{id}}" /> /*⑥*/
    </head>

    <img src="img/{{id}}"/>
</html>