<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="./twitter-card.css">
</head>



<body>
<div class="EmbeddedTweet">
  <div class="EmbeddedTweet-author u-cf">
    <img class="EmbeddedTweet-author-avatar" src="https://pbs.twimg.com/profile_images/1081291124143054848/q5_nbtD1_mini.jpg">
    <div class="EmbeddedTweet-author-name u-pullLeft">AccountName</div>
    <div class="EmbeddedTweet-author-handle u-pullLeft">@your_account</div>
  </div>



  <div class="EmbeddedTweet-text">
    <p>The card for your website will look a little something like this!</p>
  </div>



  <div class="CardPreview u-marginVm" id="CardPreview" data-preview-endpoint="/preview/html">
    <div class="CardPreview-sampleOverlay">
      <h5 class="CardPreview-sampleOverlay-text">Card preview</h5>
    </div>
    <div class="CardPreview-errorMessage">Unable to render Card preview</div>
    <div class="CardPreview-spinner"></div>
    <div class="CardPreview-preview js-cardPreview">
      <div class="TwitterCardsGrid TwitterCard TwitterCard--animation">
        <div class="TwitterCardsGrid-col--12 TwitterCardsGrid-col--spacerBottom CardContent">
          <a class="js-openLink u-block TwitterCardsGrid-col--12 TwitterCard-container TwitterCard-container--clickable SummaryCard--small" href="https://t.co/VayXuVnGWZ" rel="noopener" data-card-breakpoints="w400 w350 w300 w250 w200 w150 w100 w50 ">
            <div class="SummaryCard-image TwitterCardsGrid-float--prev">
              <div class="tcu-imageContainer tcu-imageAspect--1to1">
                <div class="tcu-imageWrapper" style="opacity: 1; background-image: url(&quot;https://pbs.twimg.com/card_img/1115863997209825280/dw0DA0r2?format=png&amp;name=144x144_2&quot;); background-size: cover;" data-style="background-image: url(https://pbs.twimg.com/card_img/1115863997209825280/dw0DA0r2?format=png&amp;name=144x144_2); background-size: cover;">
                  <img class="u-block" data-src="https://pbs.twimg.com/card_img/1115863997209825280/dw0DA0r2?format=png&amp;name=144x144_2" alt="" src="https://pbs.twimg.com/card_img/1115863997209825280/dw0DA0r2?format=png&amp;name=144x144_2">
                </div>
              </div>
            </div>
            <div class="SummaryCard-contentContainer TwitterCardsGrid-float--prev">
              <div class="SummaryCard-content TwitterCardsGrid-ltr">
                <h2 class="TwitterCard-title js-cardClick tcu-textEllipse--multiline" dir="ltr">{{ title }}</h2>
                <p class="tcu-resetMargin u-block TwitterCardsGrid-col--spacerTop tcu-textEllipse--multiline" dir="ltr">{{ description }}</p>
                <span class="u-block TwitterCardsGrid-col--spacerTop SummaryCard-destination" dir="ltr">{{ host }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>      
</div>
</body>
</html>